<div style='width: 50%; margin:0 auto'>
<p>
  <h2><a href='/'>Все категории</a></h2>
</p>
</div>


<div style='width: 50%; margin:0 auto'>
{{#each categories}}
<p>
  <h3><a href='categories/{{this}}'>{{this}}</a></h3>
</p>
{{/each}}
</div>
