<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script defer src='/js/script.js'></script>
  <title>Avito</title>
</head>
<body>
<nav class="navbar navbar-light bg-light justify-content-between">
  <a href='/' class="navbar-brand"><img src='https://static.avito.ru/@avito/bx-single-page-main/2.395.0/prod/web/resources/35f5a0d67b53.svg' style="height: 50px;"> </a>
  <a href='/categories/Транспорт'>Транспорт</a>
  <a href='/categories/Недвижимость'>Недвижимость</a>
  <a href='/categories/Работа'>Работа</a>
  <a href='/categories/Услуги'>Услуги</a>
  <a href='/categories'>ещё...</a>
  {{#if user}} <button onclick="location.href='/account'" class="btn btn-outline-primary  my-sm-0" type="link">{{user.login}}</button> {{else}}
  <button  onclick="location.href='/register'" class="btn btn-outline-primary  my-sm-0" type="link">Вход и регистрация</button> {{/if}}
  <button  onclick="location.href='/create'" class="btn btn-primary  my-sm-0" type="link">Подать объявление</button>
</nav>
<div>
  <form class="form-inline"  style='display:flex; border:rgba(128, 128, 128, 0.692) 2px solid; height:fit-content;' action='/search' method='POST'>
    <select class="form-control" style='width:fit-content' name='categorySelect'>
      <option>Любая категория</option>
      <option>Транспорт</option>
      <option>Недвижимость</option>
      <option>Работа</option>
      <option>Личные вещи</option>
      <option>Услуги</option>
    </select>
    <input  class="form-control mr-sm-2" type="search" placeholder="Поиск по объявлениям" style='min-width:200px; width: 100%' name='title'>
    <select class="form-control" style='width:fit-content' name='placeSelect'>
      <option>Вся Россия</option>
      <option>Москва</option>
      <option>Санкт-Петербург</option>
      <option>Волгоград</option>
      <option>Самара</option>
      <option>Новосибирск</option>
    </select>
    <button class="btn btn-outline-primary  my-sm-0" type="submit">Найти</button>
  </form>
</div>
  {{{body}}}
</body>
</html>

